.home-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 940px;
}

.home-page-left-side {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.home-page-right-side {
    display: flex;
    /* width: 200px; */
}
p {
    font-weight: bold;
}

.home-map-container {
    height: 400px;
    width: 400px;
}